.patrick-screen{
  color:white;
  background: radial-gradient(circle at top left, #ea5d5d,#dc758a);
}
nav{
  padding: 0 12vw;
  position: fixed;
  top:0;
  height:60px;
  box-sizing: border-box;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-items{
    display: flex;
    align-items: center;
    .nav-item{
      border-radius: 4px;
      padding: 4px 8px;
      transition:.4s;
      cursor: pointer;
      &:hover{
        background: rgba(255,255,255,0.3);
      }
    }
  }
}

section{
  height:100vh;
  width:100%;
  display: flex;
  .text-area, .image-area{
    width:50%;
    height:100%;
    display: flex;
  }
  
}

.tabs{
  display: flex;
  .tab{
    font-weight: bold;
    padding:4px 12px;
    &.active{
    border-bottom:2px solid white;
    }
  }
}




.text-area{
  padding-left:12vw;
  padding-right:6vw;
  flex-direction: column;
  justify-content: center;

  .title{
    font-weight: bolder;
    font-size:96px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.12);
  }
  
  .sub-title{
    font-size:32px;
  }

  button{
    background:transparent;
    border:2px solid white;
    color: white;
    padding:8px 16px;
    transition: .3s;
    cursor: pointer;
    &:hover{
      background: rgba(255,255,255,0.4);
    }
  }
}

.image-area{
  align-items: flex-end;
  img{
    height:80%;
  }
}